/* General
***************************/
/* Prevents FOUC on elements with the "ng-cloak" attribute" */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.title-addition {
    font-size: 22px;
}


.loader {
    margin-top: 20px;
    width: 100px;
}

.ball-clip-rotate-pulse > div:first-child {
    background: #337AB7 !important;
    /*
    Fixes ring position */
    top: 5px !important;
    left: -9px !important;
}

.ball-clip-rotate-pulse > div:last-child {
    border-top-color: #337AB7 !important;
    border-bottom-color: #337AB7 !important;
}


/* Tables
***************************/

.borderless td, .borderless th {
    border: none !important;
}


.table > tbody > tr > td {
    vertical-align: middle;
    /*
    Used to fade out the background color when .highlight gets removed */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.table > tbody > tr.highlight > td {
    background-color: #c7f6c7;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.table .editable-wrap {
    width: 100%;
}

/* Helpers
***************************/
.inline-block {
    display: inline-block !important;
}
